.overview {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    gap: 0;
    overflow: hidden;
    &__picture {
        display: block;
        width: 100%;
        object-fit: cover;
        transition: .3s ease;
        filter: grayscale(50%);
    }
    &__picture:hover {
        transform: scale(1.01);
        filter: none;

    }
    @media only screen and (max-width: 600px) {
        &__picture {
            filter: unset;
        }
      }
}